@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.sliding-banner {
  animation-duration: 10000ms;
  animation-name: slideAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slideAnimation {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-974px);
  }
}
